[Unit]
Description=AdilOS Child Mode DNS Filter
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start dnscrypt-proxy.service
ExecStop=/usr/bin/systemctl stop dnscrypt-proxy.service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
